@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Definir valores iniciales */
:root{
    font-size: 22px;
    --primary-color: #FFC727;
    --secondary-color: #dbdbdb;
    --accent-color: black;
    --text-color: black; 
    --text-size-1: 3rem; 
    --text-size-2: 1.6rem; 
    --text-size-3: 1.1rem;
    --text-size-4: 1rem;
    --img-src: url(../images/cuate.svg);
    --primary-font-family: 'VT323', Monospace, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Establecer como pagina sin scroll */
html, body{
    height: 100%;
}

body {
    /* Valores predeterminados para letra y color */
    font-family: var(--primary-font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/* Todos los enlaces */
a{
    color: var(--primary-color);
}

a:active{
    color: var(--primary-color);
}

/* 404 Not Found text */
.title-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: var(--accent-color);
    overflow: hidden;
    position: absolute;
    top: 0;
}

.title-container .notfound-text{
    font-size: var(--text-size-2);
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 900;
}

/* References text */
.reference-container{
    width: 100vw;
    height: var(--text-size-3);
    padding: 0.3rem 0;
    background-color: var(--accent-color);
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    top: calc(var(--text-size-2) - 0.1rem);
}

.reference-container .reference-text{
    margin: 0.3rem;
    color: var(--secondary-color);
}

section{
    margin: 2.2rem 1rem 0 1rem;
}

section article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* Img 404 Not Found */
section article .img-not-found{
    max-height: 60vh;
    content: var(--img-src);
}

section article .info-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

section article .info-container span{
    margin: 0.4rem 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: var(--text-size-3);
    border-right: 2px solid black;
    animation: 
        typing 2s steps(40, end),
        text-cursor 0.75s step-end infinite;
}

section article .info-container p{
    width: 100%;
    margin: 0.4rem 0;
    font-size: var(--text-size-3);
    color: var(--text-color-secondary);
}

section article .info-container a{
    padding: 0.5rem 1rem;
    font-size: var(--text-size-3);
    color: var(--primary-color);
    background-color: var(--accent-color);

    position: relative;
    margin: auto;
}

@keyframes typing {
    from{width: 0;}
    to{width: 9em;}
}

@keyframes text-cursor {
  from, to { border-color: transparent }
  50% { border-color: black; }
}

@media screen and (orientation: landscape) {
    
    section article .info-container{
        width: 14rem;
    }
}

@media screen and (min-width: 360px) {
    
    section article .info-container span{
        font-size: var(--text-size-2);
    }
}