@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

/* Definir valores iniciales */
:root{
    font-size: 20px;
    --primary-color: #92E3A9;
    --secondary-color: white;
    --text-color: #263238; 
    --text-color-secondary: #263238cc; 
    --text-size-1: 2.6rem; 
    --text-size-2: 1.6rem; 
    --text-size-3: 1.1rem; 
    --text-size-4: 1rem;
    --img404-width-landscape: 40%;
    --img404-width-portrait: 70%;
    --img-src: url(../images/bro.svg);
    --primary-font-family: 'Mouse Memoirs', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/* Establecer como pagina sin scroll */
html, body{
    height: 100%;
}

body {
    /* Valores predeterminados para letra y color */
    font-family: var(--primary-font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/* Todos los enlaces */
a{
    color: var(--primary-color);
}

a:hover{
    font-size: var(--text-size-4);
}

a:active{
    color: var(--primary-color);
}

/* Header */
.reference-container{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    transition: top 1s;
    list-style: none;
}

.reference-container:hover{
    top: 0;
}

/* Todos los enlaces dentro del .reference-container*/
.reference-container a{
    color: var(--text-color);
}

.reference-container a:active{
    color: var(--text-color);
}

.reference-container .reference-text{
    padding: 0.1rem 1rem 0.1rem 0;
    font-size: var(--text-size-4);
}

section {
    padding: 1rem;
}

section article{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

section article .info-container span{
    font-size: var(--text-size-2);
}

section article .info-container p{
    font-size: var(--text-size-4);
    color: var(--text-color-secondary);
}

/* Img 404 Not Found */
section article .img-not-found{
    width: var(--img404-width-portrait);
    content: var(--img-src);
}

/* Footer */
.title-container{
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.title-container .notfound-text{
    font-size: var(--text-size-1);
}

@media screen and (orientation: landscape) {
    .title-container{
        visibility: hidden;
    }

    section article .info-container{
        width: 6rem;
    }

    section article .img-not-found{
        width: var(--img404-width-landscape);
    }
}