/* Definir valores iniciales */
:root{
    font-size: 14px;
    --primary-color: #92E3A9;
    --secondary-color: white;
    --text-color: black; 
    --text-size-1: 3rem; 
    --text-size-2: 1.6rem; 
    --text-size-3: 1.1rem; 
    --text-size-4: 0.8rem;
    --img-size: 320px;
    --img-src: url(../images/pana.svg);
    --primary-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Establecer como pagina sin scroll */
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    /* Valores predeterminados para letra y color */
    font-family: var(--primary-font-family);
    color: var(--text-color);
    
    background-color: var(--secondary-color);
}

/* Img 404 Not Found */
section article .img-not-found{
    content: var(--img-src);
}