/* Import Rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Definir valores iniciales */
:root{
    font-size: 14px;
    --primary-color: #B36BBF;
    --secondary-color: white;
    --text-color: #fff; 
    --text-size-1: 3rem; 
    --text-size-2: 1.6rem; 
    --text-size-3: 1.1rem; 
    --text-size-4: 0.8rem;
    --img-size: 320px;
    --img-src: url(../images/amico.svg);
    --primary-font-family: 'Rubik', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (orientation: portrait) and (min-width: 380px) {
    :root{
        font-size: 20px;
        --img-size: 320px;
    }
}

@media screen and (orientation: portrait) and (min-width: 560px) {
    :root{
        font-size: 20px;
        --img-size: 420px;
    }
}

@media screen and (orientation: landscape) {
    :root{
        font-size: 12px;
        --img-size: 120px;
    }
}

@media screen and (orientation: landscape) and (min-width: 800px) {
    :root{
        font-size: 12px;
        --img-size: 200px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
    :root{
        font-size: 16px;
        --img-size: 320px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1280px) {
    :root{
        font-size: 16px;
        --img-size: 540px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1520px) {
    :root{
        font-size: 20px;
        --img-size: 620px;
    }
}

/* Establecer como pagina sin scroll */
html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    /* Valores predeterminados para letra y color */
    font-family: var(--primary-font-family);
    color: var(--text-color);
    
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Todos los enlaces */
a{
    color: #455a64;
}

a:hover{
    color: #374850;
}

a:active{
    color: #27343a;
}

/* Header */
header{
    padding: 5px 10px;
}

/* 404 Not Found */
header .notfound-text{
    margin: 0px 12px;
    font-size: var(--text-size-2);
    font-weight: 500;
}

/* Section */
section{
    padding: 12px;
}

section article{
    margin: 4px 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Img 404 Not Found */
section article .img-not-found{
    max-width: var(--img-size);
    content: var(--img-src);
}

/* Contenedor del contenido a informar */
section article .info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Titulo de la informacion*/
section article .info-container span{
    font-size: var(--text-size-1);
    font-weight: 700;
}
/* Texto menos importante a informar */
section article .info-container p{
    font-size: var(--text-size-3);
    opacity: 0.5;
}
/* Link en informacion*/
section article .info-container a{
    font-size: var(--text-size-4);
}

/* Footer */
footer{
    padding: 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Texto que indica a los involucrados directamente en la creacion de esta web o su contenido */
footer .reference-text{
    margin: 4px 0px 0px 0px;
    font-size: var(--text-size-4);
}