@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

/* Definir valores iniciales */
:root{
    font-size: 24px;
    --primary-color: #92E3A9;
    --secondary-color: white;
    --text-color: #263238; 
    --text-color-secondary: #263238cc; 
    --text-size-1: 2.6rem; 
    --text-size-2: 1.6rem; 
    --text-size-3: 1.1rem; 
    --text-size-4: 1rem;
    --img-size: 20rem;
    --img-src: url(../images/bro.svg);
    --primary-font-family: 'Mouse Memoirs', sans-serif;
}

/* Establecer como pagina sin scroll */
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* Valores predeterminados para letra y color */
    font-family: var(--primary-font-family);
    color: var(--text-color);
    background-color: var(--secondary-color);
}

/* Todos los enlaces */
a{
    color: var(--primary-color);
}

a:hover{
    font-size: var(--text-size-4);
}

a:active{
    color: var(--primary-color);
}

/* Header */
.reference-container{
    width: 100%;
    position: fixed;
    top: -3.8rem;
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    transition: all 1s;
}

.reference-container:hover{
    top: 0;
}

/* Todos los enlaces dentro del .reference-container*/
.reference-container a{
    color: var(--secondary-color);
}

.reference-container a:active{
    color: var(--secondary-color);
}

.reference-container .reference-text{
    padding: 0.1rem 1rem 0.1rem 0;
    font-size: var(--text-size-4);
    transition: all 1s;
}

section {
    height: 90%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section article{
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

section article .info-container span{
    font-size: var(--text-size-2);
}

section article .info-container p{
    font-size: var(--text-size-4);
    color: var(--text-color-secondary);
}

/* Img 404 Not Found */
section article .img-not-found{
    max-width: var(--img-size);
    content: var(--img-src);
}

/* Footer */
.title-container{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.title-container .notfound-text{
    font-size: var(--text-size-1);
}

@media screen and (min-width: 315px) {
    .reference-container{
        top: -2.6rem;
    }
}

@media screen and (min-width: 384px) {
    .reference-container{
        top: 0;
    }
}
@media screen and (min-width: 656px){
    section article .info-container{
        max-width: 6rem;
    }
}