#change-style-button{
    height: 40px;
    width: 40px;
    position: fixed;
    right: 10px;
    top: 10px;
    border: solid 2px var(--primary-color);
    border-radius: 100%;
    background: var(--secondary-color) url(./images/exchange.png) no-repeat center;
}

.changing-style{
    animation: changeStyle 0.5s;
}

@keyframes changeStyle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}